<div class="row">
    <div class="col-sx-12">
        <app-choose-statistic></app-choose-statistic>
        <div class="row">
            <div class="col-xs-12">
                <!-- Submit button -->
                <button class="btn btn-primary" type="button"
                    [disabled]="!canSubmit" (click)="onSubmit()">Go</button>
                <!-- Clear Button -->
                <button class="btn btn-secondary" type="button"
                    (click)="onClear()" style="margin-left: 12px">Clear
                </button>
            </div>
        </div>
        <hr>
        <app-line-chart></app-line-chart>
    </div>
</div>