<div class="row">
    <div class="col-sx-12">
        <form [formGroup]="timelineForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <!-- Country -->
                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <select class="form-control" formControlName="country"
                            (change)="onCountrySelected($event)">
                            <option>Choose a Country</option>
                            <option *ngFor="let country of countries">
                                {{ country }}
                            </option>
                        </select>   
                    </div>
                </div>
                <!-- Statistic -->
                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="statistic">Statistic</label>
                        <select class="form-control" formControlName="statistic"
                            (change)="onStatisticSelected($event)">
                            <option>Choose a Statistic</option>
                            <option *ngFor="let statistic of statistics">
                                {{ statistic }}
                            </option>
                        </select>   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- Submit button -->
                    <button class="btn btn-primary" type="submit"
                        [disabled]="!canSubmit">Go</button>
                    <!-- Clear Button -->
                    <button class="btn btn-secondary" type="button"
                        (click)="onClear()" style="margin-left: 12px">Clear
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <p *ngIf="noDataAvailable" style="color: red">No data available!</p>
        <app-line-chart [data]="selectedData" *ngIf="canDrawChart">
        </app-line-chart>
    </div>
</div>
