<div class="row">
    <div class="col-sx-12">
        <!-- Add New Statistic button -->
        <button class="btn btn-success" type="button"
            [disabled]="noCountries===maxCountries" (click)="onAddCountry()">
            Add Statistic</button>
        <!-- Remove Last Statistic button -->
        <button class="btn btn-danger" type="button"
            [disabled]="noCountries===1" (click)="onRemoveLastCountry()" 
            style="margin-left: 12px">Remove Last Statistic</button>
        <br>
        <br>
        <!-- Choose Statistic Component(s) -->
        <app-choose-statistic *ngFor="let _ of [].constructor(noCountries);
            let i = index" [index]="i"></app-choose-statistic>
        <!-- Submit button -->
        <button class="btn btn-primary" type="button"
            [disabled]="!canSubmit" (click)="onSubmit()">Create Graph</button>
        <!-- Clear Button -->
        <button class="btn btn-secondary" type="button"
            (click)="onClear()" style="margin-left: 12px">Clear Graph</button>
        <hr>
        <app-bar-chart></app-bar-chart>
        <br>
        <br>
    </div>
</div>