<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a class="navbar-brand">A World of Statistics</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed"
            (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="timelines">Timelines</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="bar-charts">Bar Charts</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="scatter-plots">Scatter Plots</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="cursor: pointer" (click)="onOverAndOut()">
                        Over and Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>