.bg {
    background-image: url(/assets/images/Globe.jpg);
    background-size: cover;
    background-repeat:repeat; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}